<h1>Notifications</h1>

<div class="row">
  <ul class="nav nav-pills nav-stacked col-md-3 pull-left">
    <%= nav_link_to "Unread", notifications_path %>
    <%= nav_link_to "All Notifications", notifications_all_path %>
  </ul>
  <div class="panel panel-info col-md-9 pull-left no-padding">
    <% @notifications.each do |project, notis| %>
    <div class="panel-heading"><%= link_to project.title, project_path(project.user, project) %></div>
    <ul class="list-group">
      <%= render_activities(notis) %>
    </ul>
    <% end %>
  </div>
</div>