<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Todo.nut, <%= email %></h1>
    <p>"<%= todo.title %>" 라는 제목을 가지는 <%= where %>를 등록 하셨습니다.</p>
    <p>마감일은 "<%= todo.duedate.strftime('%m/%d/%Y') %>" 입니다. </p>
  </body>
</html>