<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Todo.nut, <%= @user.email %></h1>
    <p>"<%= @history.title %>" 라는 제목을 가지는 히스토리를 등록 하셨습니다.</p>
    <p>내용은 "<%= @history.description %>" 입니다. </p>

    <h4>Attached Images</h4>
    <% @history.images.each do |image| %>
    <%= link_to(image_tag(image.image.thumb.url), image.image.url) %>
    <% end if @history.images != nil %>

  </body>
</html>