<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Todo.nut, <%= @user.email %></h1>
    <p>"<%= @history.title %>" 라는 제목을 가지는 히스토리를 등록 하셨습니다.</p>
    <p>내용은 "<%= @history.description %>" 입니다. </p>

    <% @history.images.each do |image| %>
      <a class="navbar-brand" href="<%= root_url + image.image.url%>">첨부 사진보기</a>
    <% end if @history.images != nil %>

  </body>
</html>