<h1>새 이메일을 입력하세요 - Twitter</h1>
<div class="form-container">
  <%= form_for @user, url: {action: "sign_up_from_twitter"}, :role => 'form' do |f|%>


  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class: "form-control"  %>
  </div>

  <%= f.submit :class => 'btn btn-success'%>

  <% end %>
</div>
