<div class="form-container">
  
  <%= form_for [@project, @history], :url => project_history_path(@project.user, @project, @history), :role => 'form' do |f|%>
    <%= render :partial => 'form', :locals => {:f =>f } %>
  <% end %>

</div>