<div class="form-container">
  
  <%= form_for [@project, @history], :url => { :action => :update, :phistory_id => @history.phistory_id }, :role => 'form' do |f|%>
    <%= render :partial => 'form', :locals => {:f =>f } %>
  <% end %>

</div>