<div class="form-container">
  
  <%= form_for @history, :url => project_histories_path(@project.user.nickname, @project.title), :role => 'form' do |f|%>
    <%= render :partial => 'form', :locals => {:f =>f } %>

  <% end %>
</div>