<div class="form-container">
  
  <%= form_for @history, :url => { :action => :create, :creator => @project.user.nickname, :project_title=> @project.title }, :role => 'form' do |f|%>
    <%= render :partial => 'form', :locals => {:f =>f } %>

  <% end %>
</div>