<div class="form-container">
  <%= form_for @project, url: project_path(@project.user.nickname, @project.title), :role => 'form' do |f|%>
    <%= render partial: 'form', locals: {f: f} %>
  <% end %>
</div>