<%= link_to [activity.trackable.project, activity.trackable], class: "list-group-item", data: { noti_id: activity.id } do %>
  <%= "#{activity.trackable.title}(##{activity.trackable.id})" %>
  <strong> was created. </strong>
  <span class="pull-right"><%= time_ago_in_words(activity.updated_at) %> ago</span>
<% end %>