// Place all the styles related to the histories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-container {
  border:1px dashed;
  padding:10px;
  width:60%;
  margin:0 auto;

  select#history_todo_ids, select#history_assignee_ids {
    width:100%;
  }
}

.form-buttons {
  text-align :right;
}

.word-break {
  word-break:break-all;
}

.text-align-right {
  text-align:right;
}
