.todo_title {
	display :inline-block;
}

.title {
	display:inline;
}

.float-right {
	float:right;
}

.hidden {
	display: none;
}

.vertical-margin {
	margin: 30px 0 30px 0;
}

.todo-form {
	float: right;
	margin-top: 50px;
  margin-bottom: 30px;

  label[for="todo_title"] {
    display: none;
  }
}

.color_table {
	display:inline-block;
	height: auto;
	vertical-align: middle;
}

.color_field {
	width: 30px;
	height: 30px;
	float: left;
	border-style: solid;
	
	margin-right: 2px;
}

.color_not_chosen {
	border-width: thin;
}

.color_not_chosen:hover
{ 
	border-width: medium;
}

.color_chosen {
	border-width: medium;
}

