.todo_title {
	display :inline-block;
}

.title {
	display:inline;
}

.float-right {
	float:right;
}

.hidden {
	display: none;
}

.vertical-margin {
	margin: 30px 0 30px 0;
}

.todo-form {
	float: right;
	margin-top: 50px;
  margin-bottom: 30px;

  label[for="todo_title"] {
    display: none;
  }
}



select#todo_color {
  option[value="#ff7f0e"] {
    display: none;
    background-color: #ff7f0e;
  }
}


#option-1 {
    color: red;
}

#option-2 {
    color: green;
}

#option-3 {
    color: yellow;
}

#option-4 {
    color: blue;
}
